<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hellow Angular</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./bootstrap.css" />
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./script.js"></script>
    <script src="./directive.js"></script>
  </head>
  <body ng-app="Todo" ng-controller="TodoCtrl">
    <div class="container">
      <todo-title></todo-title>
      <!-- 데이터 추가 -->
      <form name="todoForm" ng-submit="add(newTodoTitle)">
        <div class="input-group mb-3">
          <input
            type="text"
            ng-model="newTodoTitle"
            class="form-control"
            placeholder="새로운 항목을 입력하세요"
            autofocus
            minlength="3"
          />
          <button type="submit" class="btn btn-success" id="button-addon2">
            추가
          </button>
        </div>
        <div ng-show="todoForm.$dirty && todoForm.$invalid">
          <div class="alert alert-warning">3글자 이상 입력 해주세요</div>
        </div>
      </form>
      <pre>
        {{todoForm |json}}
      </pre>

      <!-- list 조회 -->
      <ul class="list-unstyled">
        <li ng-repeat="todo in todos | filter:statusFilter">
          <todo-item></todo-item>
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="statusFilter={completed:true}">
        Completed
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={completed:false}">
        Active
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
    </div>
  </body>
</html>
