<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hellow Angular</title>
    <script src="../node_modules/angular/angular.js"></script>
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />

    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./script.js"></script>
  </head>
  <body ng-app="Todo" ng-controller="TodoCtrl">
    <div class="container">
      <h1>Angular Todo List</h1>
      <ul class="list-unstyled">
        <li ng-repeat="todo in todos | filter:statusFilter">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <input
                class="form-check-input mt-0"
                type="checkbox"
                ng-model="todo.completed"
              />
            </div>

            <input type="text" class="form-control" ng-model="todo.title" />
            <button
              ng-click="remove(todo)"
              class="btn btn-danger"
              type="button"
              id="button-addon2"
            >
              삭제
            </button>
          </div>
          <date>{{todo.createdAt|date:'yyyy-MM-dd:mm:ss'}}</date>
        </li>
      </ul>
      <button class="btn btn-primary" ng-click="statusFilter={completed:true}">
        Completed
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={completed:false}">
        Active
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
    </div>
  </body>
</html>
